
body {
    /* margin: 0;
    padding: 0; */
    background:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    
    width: 560px;
    height: 400px;
    
    background-color: red;
   
}
