.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.card-components {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
   
}

.second-col {
    display: flex;
    flex-direction:column;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}